
ui5-input{
    height: 50px;
    width: 100%;
}

   ui5-card{
    box-shadow: 0 0 0.125rem 0 rgba(85, 107, 130, 0.16),
      0 0.5rem 1rem 0 rgba(85, 107, 130, 0.16);
    border-radius: 0.5rem;
   }
