<ui5-card class="mt-4">
  <ui5-card-header
    slot="header"
    title-text="Edit Footer Information :"
    interactive
  >
  </ui5-card-header>
  <ui5-busy-indicator [active]="loading" delay="100">
    <section>
  <div *ngFor="let item of socialMedia" class="pt-2">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-3">
          <ui5-title level="H1" size="H1" [innerHTML]="item.icon"> </ui5-title>
        </div>
        <div class="col-6">
          <ui5-input
            [(ngModel)]="item.link"
            placeholder="Enter Social Media URL"
          ></ui5-input>
        </div>
        <div class="col-3 d-flex align-items-center">
          <span>Active:</span>
          <ui5-switch
            [(checked)]="item.is_active"
            (change)="toggleActive(item, $event)"
          ></ui5-switch>
        </div>
      </div>
    </div>
  </div>
  </section>
</ui5-busy-indicator>
  <div class="col-md-11 my-4 d-flex justify-content-end">
    <ui5-button design="Emphasized" (click)="onSubmit()"> Submit </ui5-button>
  </div>
</ui5-card>

<app-toast-message
  [IsOpenToastAlert]="IsOpenToastAlert"
  [ToastType]="ToastType"
></app-toast-message>
