<div class="banner">
  <div class="banner-overlay">
    <div class="container banner-items">
      <div class="row">
        <div class="col-md-6 d-flex justify-content-end">
          <div class="text-white">
            <h1 class="banner-title">
              Accelerate Your Market
              <span style="color: rgba(129, 206, 208, 1)">Intelligence</span>
            </h1>
            <p class="dm-sans" style="color: rgba(186, 186, 186, 1)">
              Hybritech Innovations Ltd. is a software development company
              specializing in scalable systems, custom applications, and
              enterprise solutions to drive business growth and efficiency
            </p>
            <div>
              <a href="#" class="btn-common" id="banner-btn"> Get Started</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
          <div>
            <img
              class="d-md-none d-sm-none d-lg-block d-none"
              style="height: 300px"
              src="../../assets/img/Hybritech Innovations.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <div class="banner-video">
      <video autoplay muted loop class="w-100">
        <source src="../../assets/img/home_1.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
</div>

<div class="common-bg style-two">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="center style-two head">
          <h1 class="col-8 m-auto">
            A dynamic team uniting top talent and expertise
          </h1>
          <h4 class="col-8 m-auto my-5">
            Unleash best-in-class solutions crafted by top experts. Our team
            consists of members from elite institutions.
          </h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="single-services-box">
          <div class="service-content">
            <h4>Frontend Design & Development</h4>
            <p>
              Proactively target sticky potentialities via user-centric
              opportunities. Quickly fabricate orthogonal mindshare via
              process-centric
            </p>

            <div class="service-icon">
              <i class="fa-brands fa-html5 html"></i>
              <i class="fa-brands fa-css3-alt css"></i>
              <i class="fa-brands fa-js js"></i>

              <i class="fa-brands fa-angular angular"></i>

              <img class="ts" src="../../assets/img/ts.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="single-services-box">
          <div class="service-content">
            <h4>Backend Development</h4>
            <p>
              Quickly communicate team driven imperatives without fully tested
              experiences. Authoritatively revolutionize high standards.
            </p>

            <div class="service-icon">
              <i class="fa-brands fa-php php"></i>
              <i class="fa-brands fa-laravel laravel"></i>
              <img class="mysql" src="../../assets/img/mysql.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section
  class="banner2"
  style="background-image: url('../../assets/img/banner2.jpeg')"
>
  <div class="color-overlay-banner-2">
    <div class="container">
      <div class="row" id="banner">
        <div class="col-8 m-auto">
          <div class="text-white banner2-text">
            <h1>
              Improve customer experience by building on a reliable platform
            </h1>
            <p>
              Deliver superior customer experience with our globally distributed
              platform, minimal downtime, and intuitive products.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="common-bg">
  <div class="container">
    <div class="row develop-smart-main">
      <div class="col-md-6">
        <div>
          <img class="img-fluid" src="../../assets/img/Group 7410.png" alt="" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="develop-smart-text">
          <h1 class="">Develop smarter publish faster</h1>
          <p>
            Unleash best-in-class solutions crafted by the best-in-class. Our
            team boasts members form elite institutions like Google, Harvard,
            Tesla, Red Bull and beyond.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="common-bg">
    <div class="text-center col-8 m-auto service-header">
      <h1>A dynamic team uniting top talent and expertise</h1>
      <p class="service-p">
        Unleash best-in-class solutions crafted by the best-in-class. Our team
        boasts members form elite institutions like Google, Harvard, Tesla, Red
        Bull and beyond.
      </p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div>
            <div>
              <div class="circle">
                <h3>01</h3>
              </div>
              <h4 class="card-title">Competition</h4>
              <p class="service-p">
                Businesses face stiff competition from existing players as well
                as new entrants, making it challenging to stand out and capture
                market share.
              </p>
              <div class="last-part">
                <i class="fa-solid fa-arrow-turn-up fa-icon"></i>
                <p>
                  Using data makes you 23x more likely to acquire new customers.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <div>
              <div class="circle">
                <h3>02</h3>
              </div>
              <h4 class="card-title">Financial Constraints</h4>
              <p class="service-p">
                Limited access to capital, especially for startups and small
                businesses, can hinder growth opportunities, including
                expansion, hiring, and investment in technology.
              </p>
              <div class="last-part">
                <i class="fa-solid fa-arrow-turn-up fa-icon"></i>
                <p>59% of businesses  struggle to secure the right finance.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <div>
              <div class="circle">
                <h3>03</h3>
              </div>
              <h4 class="card-title">Scale</h4>
              <p class="service-p">
                As businesses grow, challenges with scale arise, such as
                inefficient processes and difficulty managing increased workload
                and customer demands.
              </p>
              <div class="last-part">
                <i class="fa-solid fa-arrow-turn-up fa-icon"></i>
                <p>92% of businesses fail to hit their ambitions.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-faq></app-faq>
<app-form></app-form>
