<div class="banner">
  <div class="banner-overlay">
    <div class="container banner-items">
      <div class="row">
        <div class="col-md-8 d-flex justify-content-end">
          <div class="text-white">
            <h1 class="banner-title banner-font">
              <span style="color: rgba(129, 206, 208, 1)">INNOVATING</span>
              THE FUTURE,<br />ONE SOLUTION AT A TIME
            </h1>
            <p class="home-banner-text" style="color: rgba(186, 186, 186, 1)">
              Hybritech Innovations Ltd. is a software development company
              specializing in scalable systems, custom applications, and
              enterprise solutions to drive business growth and efficiency.
            </p>
            <div class="strt-btn">
              <a href="#" class="btn-common"> Get Started</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex justify-content-end">
          <div class="banner-logoimg">
            <img
              class="d-md-none d-sm-none d-lg-block d-none img-fluid"
              src="../../assets/img/Hybritech Innovations.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <div class="banner-video">
      <video autoplay muted loop class="w-100">
        <source src="../../assets/img/home_1.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
</div>
<section class="common-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 m-auto">
        <div class="banner2-text mt-5 mb-5">
          <h1 class="experience-font mb-5">
            Improve customer experience by building on a reliable platform
          </h1>
          <p>
            Enhance customer satisfaction by building on a reliable platform
            that delivers consistent performance, security, and scalability. A
            dependable foundation ensures smooth interactions, quick response
            times, and seamless usability, making every customer touchpoint
            positive and efficient. With a robust platform, you can focus on
            innovation and customer engagement, confident that your backend
            supports a top-tier experience.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="common-bg style-two">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="center style-two head">
          <h1 class="col-8 m-auto title-font mt-5">
            A dynamic team uniting top talent and expertise
          </h1>
          <h4 class="col-8 m-auto my-5 team-font-home">
            Unleash best-in-class solutions crafted by top experts. Our team
            consists of members from elite institutions.
          </h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="single-services-box">
          <div class="service-content">
            <h4>Frontend Design & Development</h4>
            <p>
              Proactively target sticky potentialities via user-centric
              opportunities. Quickly fabricate orthogonal mindshare via
              process-centric
            </p>

            <div class="service-icon">
              <i class="fa-brands fa-html5 html"></i>
              <i class="fa-brands fa-css3-alt css"></i>
              <i class="fa-brands fa-js js"></i>

              <i class="fa-brands fa-angular angular"></i>

              <img class="ts" src="../../assets/img/ts.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="single-services-box">
          <div class="service-content">
            <h4>Backend Development</h4>
            <p>
              Quickly communicate team driven imperatives without fully tested
              experiences. Authoritatively revolutionize high standards.
            </p>

            <div class="service-icon">
              <i class="fa-brands fa-php php"></i>
              <i class="fa-brands fa-laravel laravel"></i>
              <img class="mysql" src="../../assets/img/mysql.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="common-bg">
  <div class="container">
    <div class="row develop-smart-main">
      <div class="col-md-6">
        <div>
          <img class="img-fluid" src="../../assets/img/Group 7410.png" alt="" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="develop-smart-text">
          <h1>Develop smarter publish faster</h1>
          <p>
            Accelerate your innovation with smarter, faster development!
            Leverage cutting-edge tools and streamlined processes to bring ideas
            to life quickly and efficiently. By focusing on intelligent
            solutions and rapid execution, you can reduce time to market and
            stay ahead in a competitive landscape—develop with agility,
            precision, and speed.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<app-faq></app-faq>
<app-form></app-form>
