.banner {
  min-height: var(--height);
}
.banner {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.banner .banner-video {
  background-size: cover;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.banner-overlay {
  background: radial-gradient(
    29.22% 167.9% at 76.69% 62.63%,
    #142d2ea1 0%,
    #0f0f0fb1 100%
  );
  position: absolute;
  width: 100%;
  height: var(--height);
}

.banner-items {
  padding-top: 20vh;
}

/* .banner-title {
  font-size: var(--font-size-large);
  font-family: "Rajdhani";
  font-weight: 700;
}
.banner-title span{
  font-size: var(--font-size-large);
  font-family: "Rajdhani";
  font-weight: 700;
} */
.home-banner-text {
  font-size: var(--font-size-midium);
  font-family: var(--description-font);
  text-align: justify !important;
  text-justify: inter-word !important;
}
.color-overlay-banner-2 {
  background: var(--overlay-color);
}
.banner2 {
  text-align: center;
  background-size: cover;
  min-height: var(--height);
  position: relative;
  align-items: center;
}
.experience-font {
  font-size: 50px;
  font-family: "Rajdhani";
  width: 90%;
  font-weight: 700;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.title-font {
  font-size: 50px;
  font-family: "Rajdhani";
  width: 90%;
  font-weight: 700;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.team-font-home {
  font-family: var(--header-font);
  font-weight: 600;
  font-size: 20px;
}
.banner2-text p {
  width: 65%;
  justify-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: "Rajdhani";
}
.head h1 {
  font-family: "Rajdhani";
}
.develop-smart-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.circle {
  position: relative;
  display: inline-block;
  background-color: var(--black);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--white);
  text-align: center;
  line-height: 50px;
  margin-bottom: 10px;
}

.circle h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-weight: lighter;
}

.last-part {
  display: flex;
  align-items: baseline;
  font-weight: bold;
  color: var(--secondary-color);
  padding-left: 20px;
}

.last-part i {
  margin-right: 10px;
  rotate: 90deg;
}

.style-two.service-area {
  background: var(--background-dark);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 50px 0 50px;
}
.style-two.service-area h1 {
  color: var(--text-color) !important;
}
.style-two.service-area h4 {
  color: var(--text-color);
}
.style-two.service-area .section-title h1 {
  color: #fff;
}
.style-two .single-services-box h4 {
  color: var(--text-color) !important;
}
.style-two .single-services-box p {
  color: var(--text-color) !important;
}

.style-two .single-services-box:hover p {
  color: var(--card-hover-text-color) !important;
}

.style-two .single-services-box:hover h4 {
  color: var(--card-hover-text-color) !important;
}
.style-two .single-services-box {
  padding: 37px 0 30px 40px;
  background-color: var(--card-color);
  position: relative;
  z-index: 1;
  margin-bottom: 25px;
  border-radius: 5px;
  height: 370px;
  border: 1px solid #1a1a1a71 !important;
}

.style-two .single-services-box:before {
  position: absolute;
  content: "";
  left: 50%;
  top: 0;
  width: 0;
  height: 100%;
  background: var(--card-hover-color);
  transition: 0.5s;
  z-index: -1;
  border-radius: 5px;
}

.style-two .single-services-box:hover:before {
  left: 0;
  width: 100%;
}

.service-icon-thumb {
  position: relative;
}

.service-icon-thumb:before {
  position: absolute;
  content: "";
  left: -8px;
  top: -7px;
  width: 40px;
  height: 40px;
  background: #e6eefb;
  transition: 0.5s;
  z-index: -1;
  border-radius: 100%;
}

.style-two .single-services-box:hover .service-icon-thumb:before {
  background: #2f73e0;
}

.service-icon-thumb img {
  transition: 0.5s;
}

.style-two .single-services-box:hover .service-icon-thumb img {
  filter: brightness(0) invert(1);
}

.style-two .service-number h1 {
  background: #e6eefb;
  position: absolute;
  right: 0;
  top: 33px;
  transition: 0.5s;
  font-size: 26px;
  line-height: 50px;
  color: var(--brand-color-one);
  font-weight: 600;
  font-family: "Rajdhani";
  padding: 0 14px 0 28px;
  border-radius: 30px 0 0 30px;
  margin: 0;
}

.style-two .service-content h4 {
  font-size: 26px;
  line-height: 27px;
  color: #041424;
  font-weight: 700;
  margin: 2px 8px 16px 2px;
  transition: 0.5s;
  padding: 0px !important;
}

.style-two .single-services-box:hover .service-content h4,
.service-content p {
  color: #fff;
}

.style-two .service-content p {
  padding-right: 35px;
  transition: 0.5s;
  color: #686868;
}

.style-two .single-services-box:hover .service-content p {
  color: #fff;
}

.style-two .service-content a {
  display: inline-block;
  transition: 0.5s;
  font-size: 19px;
  letter-spacing: -10px;
  color: #fff;
  font-weight: 600;
  font-family: "Rajdhani";
}

.style-two .single-services-box:hover .service-content a {
  letter-spacing: 0;
}

.style-two .service-content i {
  display: inline-block;
  color: #0b59db;
  font-size: 22px;
}

.style-two .single-services-box:hover .service-content i {
  left: 0px;
  position: relative;
}
.service-icon i {
  font-size: 60px !important;
  margin-top: 30px;
  margin-right: 20px;
}

.service-icon i {
  font-size: 60px !important;
  margin-top: 30px;
  margin-right: 20px;
}
.service-icon .html {
  color: red !important;
}
.service-icon .ts {
  position: relative;
  top: -20px;
  width: 43px;
}
.service-icon .mysql {
  position: relative;
  top: -30px;
  width: 100px;
}
.service-icon .angular {
  color: red !important;
}
.service-icon .laravel {
  color: red !important;
}
.service-icon .js {
  color: rgb(211, 214, 31) !important;
}
.banner2-text h1 {
  font-family: var(--header-font);
}
.banner2-text p {
  font-size: var(--font-size-midium);
  font-weight: 700;
  font-family: var(--header-font);
}
.develop-smart-text h1 {
  font-family: var(--header-font);
  font-size: 48px;
  font-weight: 800;
}
.develop-smart-text p {
  padding-top: 30px;
  font-size: var(--font-size-midium);
  font-family: "Rajdhani";
  font-weight: 700;
}
.service-header h1 {
  font-family: var(--header-font);
}
.service-header p {
  font-size: var(--font-size-midium);
  font-family: var(--header-font);
}
.card-title {
  font-family: var(--header-font);
}
.service-p {
  font-size: var(--font-size-midium);
  font-weight: 700;
  font-family: var(--header-font);
}
.last-part p {
  font-size: var(--font-size-sm);
  font-weight: 700;
  font-family: var(--header-font);
}
@media screen and (max-width: 768px) {
  .banner {
    min-height: 25vh;
  }

  .banner-overlay {
    height: 25vh;
  }

  .banner-items {
    padding-top: 6vh;
  }

  .banner-title {
    font-size: var(--font-size-midium);
  }
  .banner-title span {
    font-size: var(--font-size-midium);
  }
  .home-banner-text {
    font-size: var(--font-size-sm);
  }
  .service-header {
    padding: 0;
    width: 100%;
  }

  .col-lg-4 {
    width: 100%;
    margin-bottom: 20px;
  }

  .card {
    width: 100% !important;
  }

  .circle {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }

  .circle h3 {
    font-size: 1rem;
  }

  .last-part {
    flex-direction: column;
    align-items: flex-start;
  }

  .fa-icon {
    display: none;
  }
  .banner-btn {
    position: relative;
    overflow: hidden;
    background-color: rgba(20, 74, 75, 1);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
  }

  .service-icon i {
    font-size: 50px !important;
    margin-top: 30px;
    margin-right: 20px;
  }

  .btn-common {
    display: none;
    font-size: 10px;
    padding: 5px 10px;
  }
}
@media screen and (max-width: 393px) {
  .btn-common {
    display: none;
  }
  .banner {
    min-height: 20vh;
  }

  .banner-overlay {
    height: 20vh;
  }
  .home-banner-text {
    font-size: 10px;
  }
  .experience-font{
    font-size: 30px;
  }
  .banner2-text p {
font-size: 15px;
  }
  .title-font{
font-size: 30px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1260px) {
  .banner {
    min-height: 40vh;
  }
  .banner-overlay {
    height: 40vh;
  }
  .banner-title {
    font-size: 20px;
  }
  .banner-items {
    padding-top: 10vh;
  }
  .banner-title span {
    font-size: 20px;
  }
  .home-banner-text {
    font-size: var(--font-size-small);
  }
  .banner-logoimg img {
    height: 150px;
  }
  .service-icon i {
    font-size: 25px !important;
    margin-top: 30px;
    margin-right: 20px;
  }
}
