<ui5-dialog header-text="Add" [open]="isOpen" id="dialog">
  <ui5-bar slot="header" design="Header">
    <ui5-title level="H5" slot="startContent">Add</ui5-title>
    <ui5-button
      class="dialogCloser"
      design="Transparent"
      id="closeDialogButton"
      slot="endContent"
      (click)="closeDialog()"
      icon="decline"
    ></ui5-button>
  </ui5-bar>

  <app-form-preloader *ngIf="loading"></app-form-preloader>

  <ui5-message-strip
    design="Critical"
    *ngIf="errorMessage"
    (close)="clearErrorMessage($event)"
  >
    <ui5-icon name="alert" slot="icon"></ui5-icon> {{ errorMessage }}
  </ui5-message-strip>
  <ui5-message-strip
    design="Negative"
    *ngIf="fileTypeError"
    (close)="clearFileTypeError($event)"
  >
    <ui5-icon name="alert" slot="icon"></ui5-icon> {{ fileTypeError }}
  </ui5-message-strip>

  <ui5-tabcontainer>
    <ui5-tab text="Info" design="Inline" style="width: 500px">
      <section class="tab-content">
        <div class="row">
          <div class="col-md-12">
            <div class="d-flex align-items-center mb-3">
              <span>Active:</span>
              <ui5-switch checked (click)="toggleActive($event)"></ui5-switch>
            </div>

            <ui5-label show-colon required>Name</ui5-label>
            <ui5-input
              class="titleInput"
              [(ngModel)]="name"
              name="name"
              placeholder="Enter name"
              required
            ></ui5-input>

            <ui5-label show-colon required>Designation</ui5-label>
            <ui5-textarea
              class="textArea1"
              [(ngModel)]="designation"
              name="designation"
              placeholder="Enter designation"
              required
            ></ui5-textarea>
          </div>
        </div>
      </section>
    </ui5-tab>

    <ui5-tab text="Attachment" design="Inline">
      <section class="tab-content">
        <div class="row">
          <div class="col-md-12">
            <div class="img-upload">
              <div class="upload-header">
                <ui5-label show-colon required>Image </ui5-label>
                <ui5-button
                  class="upload-button"
                  [disabled]="selectedFileUrl"
                  (click)="selectedFileUrl ? null : fileUpload.click()"
                >
                  Upload
                </ui5-button>
              </div>
              <div
                class="upload-card"
                [class.disabled]="selectedFileUrl"
                (click)="selectedFileUrl ? null : fileUpload.click()"
              >
                <img
                  src="assets/img/file-upload.png"
                  alt="Upload Icon"
                  class="upload-icon"
                />
                <div class="upload-text">Click to upload or drag and drop</div>
                <div class="upload-subtext">SVG, PNG, JPG (max. 2MB)</div>
                <input
                  #fileUpload
                  type="file"
                  class="file-input"
                  (change)="onFileSelect($event)"
                  accept="image/*"
                  [disabled]="selectedFileUrl"
                />
              </div>
              <div *ngIf="selectedFileUrl" class="preview-container">
                <div class="image-preview">
                  <img
                    [src]="selectedFileUrl"
                    alt="Selected Image"
                    class="preview-image"
                  />
                  <ui5-button
                    design="Negative"
                    (click)="clearSelectedImage()"
                    icon="decline"
                    class="remove-button"
                    aria-label="Remove image"
                  ></ui5-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </ui5-tab>
  </ui5-tabcontainer>

  <ui5-toolbar slot="footer">
    <ui5-toolbar-button
      design="Emphasized"
      [disabled]="loading"
      (click)="insertData()"
      text="Submit"
    ></ui5-toolbar-button>

    <ui5-toolbar-button
      design="Transparent"
      text="Cancel"
      (click)="closeDialog()"
    ></ui5-toolbar-button>
  </ui5-toolbar>
</ui5-dialog>

<app-toast-message
  [IsOpenToastAlert]="IsOpenToastAlert"
  [ToastType]="ToastType"
></app-toast-message>
