<react-analytical-table
  [headerTitle]="Title"
  [insertTitle]="'Add'"
  [apiUrl]="'JobLists?'"
  [isSearchFilter]="true"
  [isFilterable]="true"
  [isOdata]="true"
  [isGroupable]="false"
  [isSortable]="true"
  [isTableTree]="false"
  [isInfiniteScroll]="true"
  [infiniteScrollNumber]="10"
  [minRowsNumber]="15"
  [headerHeight]="30"
  [rowHeight]="30"
  [selectionMode]="'Single'"
  [emptyDataText]="'No Data Found'"
  [tableColumn]="tableColum()"
  [refreshTrigger]="refreshTable"
  (isInsertDataChange)="handleInsertData($event)"
  (rowDoubleClick)="editJob($event)"
></react-analytical-table>

<app-job-add [isOpen]="isInsert" (close)="closeAddJobModal()"></app-job-add>

<app-job-details
  [jobId]="selectedJobId"
  [jobData]="selectedJobData"
  [isOpen]="isDetails"  
  (close)="closeJobDetailsModal()"
></app-job-details>
