<div class="banner">
  <div class="banner-overlay">
    <div class="container banner-items">
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <div class="text-white" id="aboutus-banner-text">
            <h1 class="banner-font">
              We Do Things
              <span style="color: var(--secondary-color)">Differently</span>
            </h1>
            <p class="col-md-8 m-auto">
              Hybritech Innovations Ltd. transforms conventional tech approaches
              by prioritizing innovation and bold ideas. With adaptability and a
              forward-thinking culture, the company creates impactful products
              that challenge industry norms and drive progress across tech
              fields.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="common-bg style-two pd-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="center style-two dot">
          <h1 class="mb-5 title-font text-card">
            What
            <span style="color: var(--secondary-color)"
              >Makes Us Different
            </span>
            from Others
          </h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="facality-content">
          <h4>Cutting-Edge Innovation</h4>
          <p>
            We leverage the latest technologies to bring forward-thinking
            solutions that push the boundaries of what's possible, keeping you
            ahead in a fast-evolving digital landscape
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="facality-content">
          <h4>Commitment to Quality</h4>
          <p>
            Quality is in our DNA. Every solution we deliver is rigorously
            tested to meet the highest standards, ensuring reliability,
            security, and an exceptional user experience.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="facality-content">
          <h4>Personalized Solutions</h4>
          <p>
            Every project is crafted with your unique business needs in mind. We
            don’t just deliver one-size-fits-all products—we tailor our approach
            to fit your vision, goals, and market demands.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="facality-content">
          <h4>End-to-End Expertise</h4>
          <p>
            From initial concept to launch and beyond, our team covers every
            stage of development with dedicated experts who ensure seamless
            transitions and continuous support.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="facality-content">
          <h4>Agility and Speed</h4>
          <p>
            Our efficient workflows and agile processes allow us to deliver
            high-quality results faster. We value your time and work with you to
            meet tight deadlines without sacrificing excellence.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="facality-content">
          <h4>Transparent Communications</h4>
          <p>
            We believe in open, honest communication at every stage of the
            project. You'll have full visibility, regular updates, and a partner
            ready to address any questions or changes.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-form></app-form>
