.banner {
    min-height: var(--height);
    background-image: url(../../assets/img/about\ us\ banner.jpeg);
    text-align: center;
}

.banner-overlay {
    background: var(--overlay-color);
    position: absolute;
    width: 100%;
    height: var(--height);
}

.banner-items {
    padding-top: 20vh;
}

.banner-title {
    font-size: var(--font-size-large);
}

/* .card-content-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    padding-bottom: 10vh;
    width: 40%;
  }



  .card-content {
    position: relative;
    display: inline;
  }
  
  .card-content-line::after {
    content: "";
    height: 100%;
    width: 3px;
    display: block;
    background-color: #00aeff;
    position: absolute;
    border-radius: 2px;
    top: -0.5vh;
    left: -2vh;
  }
  
  #card-content-line1::after {
    content: "";
    height: 100%;
    width: 3px;
    display: block;
    background-color: #00a9ae;
    position: absolute;
    border-radius: 2px;
    top: -0.5vh;
    left: -2vh;
  }
  
  #card-content-line2::after {
    content: "";
    height: 100%;
    width: 3px;
    display: block;
    background-color: #3773de;
    position: absolute;
    border-radius: 2px;
    top: -0.5vh;
    left: -2vh;
  }
  
  #card-content-line3::after {
    content: "";
    height: 100%;
    width: 3px;
    display: block;
    background-color: #ffac60;
    position: absolute;
    border-radius: 2px;
    top: -0.5vh;
    left: -2vh;
  }
  
  #card-content-line4::after {
    content: "";
    height: 100%;
    width: 3px;
    display: block;
    background-color: #00a9ae;
    position: absolute;
    border-radius: 2px;
    top: -0.5vh;
    left: -2vh;
  }
  
  #card-content-line5::after {
    content: "";
    height: 100%;
    width: 3px;
    display: block;
    background-color: #3773de;
    position: absolute;
    border-radius: 2px;
    top: -0.5vh;
    left: -2vh;
  }
  
  #card-content-line6::after {
    content: "";
    height: 100%;
    width: 3px;
    display: block;
    background-color: #ffac60;
    position: absolute;
    border-radius: 2px;
    top: -0.5vh;
    left: -2vh;
  } */



  .facality-content {
    margin-bottom: 40px;
    padding: 20px;
    border-left: 4px solid var(--primary-color);
  
    cursor: pointer;
  }
  .facality-content:hover {
    border-radius: 8px;
    transition: 0.4s;
    border-left: 4px solid var(--primary-color);
    background-color: var(--primary-color);
    color: #ffffff !important;
  }
  
  .facality-content:hover h4 {
    color: white !important;
    transition: 0.4s;
  }
  .facality-content:hover p {
    color: white !important;
    transition: 0.4s;
  }
  .facality-content h4 {
    color: white;
    font-size: 30px;
    margin-left: 0px;
    padding-left: 0px !important;
  }










  
  


@media screen and (max-width: 768px) {
    .banner {
        min-height: 35vh; 
    }

    .banner-overlay {
        height: 35vh; 
    }

    .banner-items {
        padding-top: 6vh; 
    }

    .banner-title {
        font-size: max(6vw, 1.2rem); 
    }
    .card-content-title {
        width: 100%;
      }
    
}
