<ui5-dialog [open]="isOpen" header-text="Form Details" state="Information">
  <div *ngIf="formData">
    <p *ngIf="formData.is_read">
      <strong>Read:</strong> {{ formData.is_read }}
    </p>
    <ng-container *ngIf="formData.full_name">
      <ui5-label show-colon>Full Name</ui5-label>
      <ui5-input
        class="w-100"
        placeholder="Full Name"
        value="{{ formData.full_name }}"
        readonly
      ></ui5-input>
    </ng-container>
    <ng-container *ngIf="formData.email">
      <ui5-label show-colon>Email</ui5-label>
      <ui5-input
        class="w-100"
        value="{{ formData.email }}"
        readonly
      ></ui5-input>
    </ng-container>

    <ng-container *ngIf="formData.number">
      <ui5-label show-colon>Phone Number</ui5-label>
      <ui5-input
        class="w-100"
        value="{{ formData.number }}"
        readonly
      ></ui5-input>
    </ng-container>


    <p *ngIf="formData.subject">
      <strong>Subject:</strong> {{ formData.subject }}
    </p>
    <p *ngIf="formData.project_name">
      <strong>Project Name:</strong> {{ formData.project_name }}
    </p>
    <p *ngIf="formData.project_type">
      <strong>Project Type:</strong> {{ formData.project_type }}
    </p>
    <p *ngIf="formData.project_budget">
      <strong>Project Budget:</strong> {{ formData.project_budget }}
    </p>
    <p *ngIf="formData.description">
      <strong>Description:</strong> {{ formData.description }}
    </p>

    <div class="d-flex justify-content-end m-2">
      <ui5-button *ngIf="!formData.is_read" design="Emphasized" (click)="markAsRead()"
        >Mark as Read</ui5-button
      >
      <ui5-button class="ms-2" design="Default" (click)="closeDialog()">Close</ui5-button>
    </div>
  </div>
</ui5-dialog>
