<ui5-dialog [open]="isOpen" header-text="Form Details" state="Information">
    <div *ngIf="formData">
      <p *ngIf="formData.full_name"><strong>Name:</strong> {{ formData.full_name }}</p>
      <p *ngIf="formData.email"><strong>Email:</strong> {{ formData.email }}</p>
      <p *ngIf="formData.number"><strong>Number:</strong> {{ formData.number }}</p>
      <p *ngIf="formData.subject"><strong>Subject:</strong> {{ formData.subject }}</p>
      <p *ngIf="formData.project_name"><strong>Project Name:</strong> {{ formData.project_name }}</p>
      <p *ngIf="formData.project_type"><strong>Project Type:</strong> {{ formData.project_type }}</p>
      <p *ngIf="formData.project_budget"><strong>Project Budget:</strong> {{ formData.project_budget }}</p>
      <p *ngIf="formData.description"><strong>Description:</strong> {{ formData.description }}</p>
      
      <div style="display: flex; justify-content: flex-end;">
        <ui5-button (click)="this.isOpen = false">Close</ui5-button>
      </div>
    </div>
  </ui5-dialog>