<react-analytical-table
  [headerTitle]="Title"
  [insertTitle]="'View Only'"
  [apiUrl]="'job-applications?'"
  [isSearchFilter]="true"
  [isFilterable]="true"
  [isOdata]="false"
  [isGroupable]="false"
  [model]="JobApplications"
  [isSortable]="true"
  [isTableTree]="false"
  [isInfiniteScroll]="true"
  [infiniteScrollNumber]="10"
  [minRowsNumber]="15"
  [headerHeight]="30"
  [rowHeight]="30"
    [refreshTrigger]="refreshTrigger"
  [selectionMode]="'Single'"
  [emptyDataText]="'No Data Found'"
  [model]="JobApplications"
  [tableColumn]="tableColum()"
  [showStatusFilter]="true"
  [isSegmentedState]="true"
></react-analytical-table>