<react-analytical-table
  [headerTitle]="Title"
  [insertTitle]="'View Only'"
  [apiUrl]="'selected-candidate-job-applications'"
  [isSearchFilter]="true"
  [isFilterable]="true"
  [isOdata]="false"
  [isGroupable]="false"
  [isSortable]="true"
  [isTableTree]="false"
  [isInfiniteScroll]="true"
  [infiniteScrollNumber]="10"
  [minRowsNumber]="15"
  [headerHeight]="30"
  [model]="JobApplications"
  [rowHeight]="30"
  [selectionMode]="'Single'"
  [emptyDataText]="'No Data Found'"
  [refreshTrigger]="refreshTable"
  [tableColumn]="tableColum()"
  [showStatusFilter]="false"
  [isSegmentedState]="false"
></react-analytical-table>
<app-interview-details
  [jobApplicantId]="selectedJobId"
  [jobApplicantData]="selectedJobData"
  [isOpen]="isApplicantDetails"
  (refreshTable)="refresh($event)"
  (close)="closeJobDetailsModal()"
></app-interview-details>
