.nav-bg {
  background: var(--black);
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px var(--padding-large);
  position: relative;
}

.logo img {
  max-height: 50px;
}
.nav-content {
  display: flex;
  align-items: center;
  gap: var(--padding-large);
}

.nav-links {
  padding-top: 8px;
}

.nav-links ul {
  list-style: none;
  display: flex;
  gap: var(--padding-large);
}

.nav-links a {
  color: var(--white);
  text-decoration: none;
  font-family: var(--description-font);
  transition: color 0.3s;
  cursor: pointer;
}

.nav-items {
  gap: 40px;
}
.nav-items li {
  font-family: var(--description-font);
  font-size: var(--font-size-midium);
}
.nav-links a:hover {
  color: var(--secondary-color);
}

/* .btn-contactus {
  text-decoration: none;
  background: none;
  border: 1px solid var(--primary-color);
  padding: var(--padding-small) var(--padding-medium);
  border-radius: var(--border-radius);
  color: var(--secondary-color);
} */

.btn-contactus:hover {
  background-color: var(--primary-color);
  color: var(--white);
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  display: none;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: var(--hamburger-size);
  width: var(--hamburger-size);
  background-color: transparent;
}

.hamburger-icon {
  width: var(--hamburger-size);
  height: var(--hamburger-thickness);
  background-color: var(--white);
  position: relative;
}

.hamburger-icon::before,
.hamburger-icon::after {
  content: "";
  position: absolute;
  width: var(--hamburger-size);
  height: var(--hamburger-thickness);
  background-color: var(--white);
  transition: transform 0.3s ease;
}

.hamburger-icon::before {
  top: -8px;
}

.hamburger-icon::after {
  bottom: -8px;
}



/* -----toggle--------- */

.theme-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 24px;
}

.slider::before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #144a4b;
}

input:checked + .slider::before {
  transform: translateX(26px);
}





/* Responsive */
@media screen and (max-width: 768px) {
  .circle-preloder {
    height: 80px;
    width: 80px;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
  }
  #logo {
    margin-right: 13vh;
    width: 9vh;
  }
  .nav-content {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--black);
    display: none;
    flex-direction: column;
    padding: 20px 0;
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius-large);
    align-items: center;
    z-index: 1;
  }
  .nav-links {
    width: 100%;
  }

  .nav-links ul {
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .nav-links a {
    display: block;
    padding: var(--padding-medium) var(--padding-large);
    width: 100%;
    text-align: center;
    color: var(--white);
    font-size: var(--font-size-small);
  }

  .nav-links a:hover {
    color: var(--secondary-color);
  }
  .nav-toggle-label {
    display: flex;
    z-index: 1000;
  }
  #nav-toggle:checked ~ .nav-content {
    display: flex;
  }
  /* #nav-toggle:checked + .nav-toggle-label + .nav-links {
    display: flex;
  } */

  #nav-toggle:checked + .nav-toggle-label .hamburger-icon {
    background-color: transparent;
  }

  #nav-toggle:checked + .nav-toggle-label .hamburger-icon::before {
    transform: rotate(45deg);
    top: 0;
  }

  #nav-toggle:checked + .nav-toggle-label .hamburger-icon::after {
    transform: rotate(-45deg);
    bottom: 0;
  }

  .nav-toggle-label {
    display: flex;
  }
}
