<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div>
        <app-contact-info></app-contact-info>
      </div>
      <div>
        <ui5-card>
          <ui5-card-header slot="header" titleText="Dynamic Section" interactive>
          </ui5-card-header>
          <section>
            <ui5-busy-indicator [active]="loading" [delay]="100">
              <div class="section-row">
                <div *ngFor="let item of webPages; let i = index">
                  <span>{{ item.title }} :</span>
                  <div class="d-flex align-items-center gap-3">
                    <ui5-title level="H5" class="dynamic-active">Active :</ui5-title>
                    <ui5-switch [checked]="item.is_active" (click)="toggleActive(item, $event)"></ui5-switch>
                  </div>
                </div>
              </div>
            </ui5-busy-indicator>
          </section>
          <div class="col-md-11 d-flex justify-content-end">
            <ui5-button design="Emphasized" (click)="updateData()">Update</ui5-button>
          </div>
        </ui5-card>
      </div>
    </div>
    <div class="col-md-6">
      <app-social-media></app-social-media>
    </div>
  </div>
</div>
<app-toast-message [IsOpenToastAlert]="IsOpenToastAlert" [ToastType]="ToastType"></app-toast-message>