<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div>
        <app-contact-info></app-contact-info>
      </div>
      <div>
        <ui5-card>
          <ui5-card-header slot="header" titleText="Our Projects :" interactive>
          </ui5-card-header>
          <section>
            <ui5-busy-indicator [active]="loading" [delay]="100">
              <span> Want to show Our Projects in Website? </span>
          
              <div class="d-flex align-items-center">
                <strong>Active :</strong>
                <ui5-switch
                  [checked]="isActive"
                  (click)="toggleActive($event)"
                ></ui5-switch>
              </div>
            </ui5-busy-indicator>
          </section> 
            <div class="col-md-11 d-flex justify-content-end my-4">
    <ui5-button
      design="Emphasized"
      (click)="updateData()"
    >Update</ui5-button>
  </div>
        </ui5-card>
      </div>
    </div>
    <div class="col-md-6">
      <app-social-media></app-social-media>
    </div>
  </div>
</div>
 <app-toast-message
  [IsOpenToastAlert]="IsOpenToastAlert"
  [ToastType]="ToastType"
></app-toast-message>