<ui5-dialog header-text="Edit Service" [open]="isOpen" id="dialog">
  <ui5-bar slot="header" design="Header">
    <ui5-title level="H5" slot="startContent">Edit Service</ui5-title>
    <ui5-button
      class="dialogCloser"
      design="Transparent"
      id="closeDialogButton"
      slot="endContent"
      (click)="closeDialog()"
      icon="decline"
    ></ui5-button>
  </ui5-bar>

  <app-form-preloader *ngIf="loading"></app-form-preloader>
  <ui5-message-strip class="w-100 mt-3" design="Critical" *ngIf="errorMessage">
    <ui5-icon name="alert" slot="icon"></ui5-icon> {{ errorMessage }}
  </ui5-message-strip>
  <ui5-message-strip class="w-100 mt-3" design="Negative" *ngIf="fileTypeError">
    <ui5-icon name="alert" slot="icon"></ui5-icon> {{ fileTypeError }}
  </ui5-message-strip>
  <section>
    <div class="row">
      <div class="col-md-6">
        <ui5-label show-colon required>Title</ui5-label>
        <ui5-input
        class="titleInput"
        [(ngModel)]="title"
        name="title"
        placeholder="Enter title"
        required
      ></ui5-input>

        <ui5-label show-colon required>Description</ui5-label>
        <ui5-textarea
          class="textArea"
          [(ngModel)]="description"
          name="description"
          placeholder="Enter description (max 45 words)"
          required
          (input)="updateWordCount()"
        ></ui5-textarea>
        <div class="word-count" [ngClass]="{'text-danger': wordCount > maxWords}">
          Words: {{wordCount}}/{{maxWords}}
        </div>
          <ui5-label show-colon>Image</ui5-label>
          <div class="d-flex">
          <ui5-file-uploader hide-input
          type="file"
          class="form-control col-6"
          (change)="onFileSelect($event)"
          accept="image/*"
          >
            <ui5-avatar icon="upload"></ui5-avatar>
            Upload new image
          </ui5-file-uploader>
          <div class="col-6" style="margin-left: 10px;">
            <img *ngIf="selectedFileUrl" [src]="selectedFileUrl" alt="New Selected Image" style="max-width: 100px;"/>
            <img *ngIf="!selectedFileUrl && currentImageUrl" [src]="currentImageUrl" alt="Current Image" style="max-width: 100px;"/>
          </div>
        </div>
       
      </div>
    </div>
  </section>
  <ui5-toolbar slot="footer">
    <ui5-toolbar-button
      design="Emphasized"
      [disabled]="loading"
      (click)="updateData()"
      text="Update"
    >
    </ui5-toolbar-button>

    <ui5-toolbar-button
      design="Transparent"
      text="Cancel"
      (click)="closeDialog()"
    ></ui5-toolbar-button>
  </ui5-toolbar>
</ui5-dialog>
<app-toast-message
  [IsOpenToastAlert]="IsOpenToastAlert"
  [ToastType]="ToastType"
></app-toast-message>