<ui5-dialog header-text="Edit" [open]="isOpen" id="dialog">
  <ui5-bar slot="header" design="Header">
    <ui5-title level="H5" slot="startContent">Edit RolePost</ui5-title>
  </ui5-bar>

  <app-form-preloader *ngIf="loading"></app-form-preloader>
<section>
        <div class="d-flex align-items-center">
          <ui5-label show-colon>Active</ui5-label>
          <ui5-switch
            [checked]="isActive"
            (click)="toggleActive($event)"
          ></ui5-switch>
        </div>
    <div class="row">
      <div class="col-md-12">
        <ui5-label show-colon required>Name</ui5-label>
        <br>
        <ui5-input
          class="textAreaName"
          [(ngModel)]="name"
          placeholder="Name"
          required
          type="Text"
        ></ui5-input>
      </div>
    </div>
  </section>
  <ui5-toolbar slot="footer">
    <ui5-toolbar-button
      design="Emphasized"
      (click)="updateRole()"
      [disabled]="formloading"
      text="Update"
    >
    </ui5-toolbar-button>

    <ui5-toolbar-button
      design="Transparent"
      text="Cancel"
      (click)="closeDialog()"
    ></ui5-toolbar-button>
  </ui5-toolbar>
</ui5-dialog>
<app-toast-message
  [IsOpenToastAlert]="IsOpenToastAlert"
  [ToastType]="ToastType"
></app-toast-message>
