<ui5-dialog header-text="Add" [open]="isOpen" id="dialog">
  <ui5-bar slot="header" design="Header">
    <ui5-title level="H5" slot="startContent">Add</ui5-title>
    <ui5-button
      class="dialogCloser"
      design="Transparent"
      id="closeDialogButton"
      slot="endContent"
      (click)="closeDialog()"
      icon="decline"
    ></ui5-button>
  </ui5-bar>

  <app-form-preloader *ngIf="loading"></app-form-preloader>
  <ui5-message-strip class="w-100 mt-3" design="Critical" *ngIf="errorMessage">
    <ui5-icon name="alert" slot="icon"></ui5-icon> {{ errorMessage }}
  </ui5-message-strip>
  <section>
    <div class="row">
      <div class="col-md-6">
        <ui5-label show-colon required>Qustion</ui5-label>

        <ui5-textarea
          class="textAreaQuestion"
          [(ngModel)]="question"
          placeholder="Qustion"
          required
          type="Text"
        ></ui5-textarea>

        <ui5-label show-colon required>Answer</ui5-label>

        <ui5-textarea
          class="textArea"
          [(ngModel)]="answer"
          placeholder="Answer"
          required
          type="Email"
        ></ui5-textarea>
      </div>
    </div>
  </section>
  <ui5-toolbar slot="footer">
    <ui5-toolbar-button
      design="Emphasized"
      [disabled]="loading"
      (click)="insertData()"
      text="Submit"
    >
    </ui5-toolbar-button>
    <!-- <ui5-toolbar-button
  design="Emphasized"
  [disabled]="loading || !question || !answer"
  (click)="insertData()"
  text="Submit">
	</ui5-toolbar-button> -->

    <ui5-toolbar-button
      design="Transparent"
      text="Cancel"
      (click)="closeDialog()"
    ></ui5-toolbar-button>
  </ui5-toolbar>
</ui5-dialog>


<app-toast-message
  [IsOpenToastAlert]="IsOpenToastAlert"
  [ToastType]="ToastType"
></app-toast-message>
