<ui5-card class="mt-4">
  <ui5-card-header
    slot="header"
    title-text="Edit Address Information :"
    interactive
  >
  </ui5-card-header>
  <section>
    <ui5-busy-indicator [active]="loading" delay="100">
      <div class="d-flex flex-column p-4">
        <div class="form-field-group d-flex flex-column">
          <ui5-label show-colon>Phone</ui5-label>
          <ui5-input
            class="w-100"
            [value]="phone"
            readonly
          ></ui5-input>
          <ui5-label show-colon class="pt-2">Edit Phone</ui5-label>
          <ui5-input
            class="w-100"
            [(ngModel)]="editPhone"
            name="editPhone"
            placeholder="Enter phone number"
            required
          ></ui5-input>
          <ui5-label show-colon>Email</ui5-label>
          <ui5-input
            class="w-100"
            [value]="email"
            readonly
          ></ui5-input>
          <ui5-label show-colon class="pt-2">Edit Email</ui5-label>
          <ui5-input
            class="w-100"
            [(ngModel)]="editEmail"
            name="editEmail"
            placeholder="Enter email"
            required
          ></ui5-input>
          <ui5-label show-colon>Address</ui5-label>
          <textarea
            class="w-100"
            [(ngModel)]="editAddress"
            name="editAddress"
            readonly
          ></textarea>
          <ui5-label show-colon class="pt-2">Edit Address</ui5-label>
          <textarea
            class="address"
            [(ngModel)]="editAddress"
            name="editAddress"
            required
          ></textarea>
        </div>

        <div class="form-field-group"></div>
      </div>
    </ui5-busy-indicator>
  </section>
  <div class="col-md-11 d-flex justify-content-end my-4">
    <ui5-button design="Emphasized" (click)="updateContactInfo()"
      >Update</ui5-button
    >
  </div>
</ui5-card>
<app-toast-message
  [IsOpenToastAlert]="IsOpenToastAlert"
  [ToastType]="ToastType"
></app-toast-message>
