.ui5-textarea textarea {
  white-space: pre-wrap;
  word-wrap: break-word;
}
.address {
  margin-top: 0.5rem;
  width: 600px;
  min-height: 60px;
  padding: 0.5rem;
  resize: vertical;
}
ui5-card {
  border-radius: 0.5rem;
  height: 570px;
}

