<section id="contact-us-section">
    <div class="common-bg">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="contact-us-text">
              <h1 class="fw-bold col-7">We would love to <span style="color: var(--secondary-color);">talk</span>
                with you?</h1>
              <p>Take off to the next chapter with <span class="fw-bold">HYBRITECH INNOVATIONS</span></p>
            </div>
          </div>
          <div class="col-md-6 contact-us-form-bg">
            <div>
              <div id="contact-us-title">
                <i class="fa-regular fa-user"></i>
                <h5>Contact Us</h5>
              </div>
  
              <!-- Full Name -->
              <div>
                <h6>Full Name</h6>
                <input type="text" class="form-control" [(ngModel)]="fullName" name="fullName" placeholder="Ashraf Chowdhury">
                <hr class="form-hr">
              </div>
                <div>
                <h6>Email</h6>
                <input type="email" class="form-control" [(ngModel)]="email" name="email" placeholder="You@example.com">
                <hr class="form-hr">
              </div>
  
              <div>
                <h6>Contact Number</h6>
                <input type="text" class="form-control" [(ngModel)]="number" name="number" placeholder="+880 123-45678">
                <hr class="form-hr">
              </div>
  
              <div>
                <h6>Subject</h6>
                <textarea class="form-control" [(ngModel)]="subject" name="subject" placeholder="Your subject"></textarea>
                <hr class="form-hr">
              </div>
  
              <div>
                <h6>Details</h6>
                <textarea class="form-control" [(ngModel)]="description" name="description" placeholder="Tell us more about your idea"></textarea>
                <hr class="form-hr">
              </div>
  
              <div class="form-submit">
                <div>
                  <a class="btn-common m-3" (click)="insertFormData()">Submit</a>
                </div>
                <p>By submitting this form, I confirm that I have read and understood Hybritech innovations Privacy Policy.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>   
  </section>
  

<section>
    <div class="common-bg">
      <div class="container">
        <div class="row">
          <div class="col-md-4 d-flex align-items-center align-items-center text-left">
            <div class="center style-two">
              <h6>Contact info:</h6>
              <h6>
                  Address:  House#31, 1st floor, Road- 5, Block-C
                  Rampura, Banasree, Dhaka-1219, Bangladesh.
              </h6>
              <h6>
                  Email: info&#64;hybri.tech
              </h6>
              <h6>
                  Phone number: +8801882541540
              </h6>
            </div>
          </div>
          <div class="col-lg-8 text-center justify-content-end">
            <div>
              <iframe  class="map" src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d912.8969095013148!2d90.42945726958168!3d23.762079998666422!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjPCsDQ1JzQzLjUiTiA5MMKwMjUnNDguNCJF!5e0!3m2!1sen!2sbd!4v1740556961686!5m2!1sen!2sbd" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>