<ui5-dialog header-text="Add Project" [open]="isOpen" id="dialog">
  <ui5-bar slot="header" design="Header">
    <ui5-title level="H5" slot="startContent">Add Project</ui5-title>
    <ui5-button
      class="dialogCloser"
      design="Transparent"
      id="closeDialogButton"
      slot="endContent"
      (click)="closeDialog()"
      icon="decline"
    ></ui5-button>
  </ui5-bar>

  <app-form-preloader *ngIf="loading"></app-form-preloader>
  <ui5-message-strip class="w-100 mt-3" design="Critical" *ngIf="errorMessage">
    <ui5-icon name="alert" slot="icon"></ui5-icon> {{ errorMessage }}
  </ui5-message-strip>
  <ui5-message-strip class="w-100 mt-3" design="Negative" *ngIf="fileTypeError">
    <ui5-icon name="alert" slot="icon"></ui5-icon> {{ fileTypeError }}
  </ui5-message-strip>
  <section>
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex align-items-center">
          <span>Active :</span>
          <ui5-switch checked (click)="toggleActive($event)"></ui5-switch>
        </div>
        <ui5-label show-colon required>Title</ui5-label>
        <ui5-textarea
          class="titleInput"
          [(ngModel)]="title"
          name="title"
          placeholder="Enter title"
          required
        >
        </ui5-textarea>
        <ui5-label show-colon required>Sub-title </ui5-label>
        <ui5-textarea
          class="textArea1"
          [(ngModel)]="subtitle"
          name="subtitle"
          placeholder="Enter Sub-title"
          required
        >
        </ui5-textarea>
        <ui5-label show-colon required>Description</ui5-label>
        <angular-editor
          [placeholder]="placeholder"
          [config]="editorConfig"
          [(ngModel)]="description"
        ></angular-editor>

        <div class="img-upload">
          <ui5-label show-colon required>Images (Multiple)</ui5-label>
          <div class="d-flex">
            <ui5-file-uploader
              hide-input
              type="file"
              class="form-control col-6"
              (change)="onFileSelect($event)"
              accept="image/*"
              icon="upload"
              required
              multiple
            >
              <ui5-avatar icon="upload"></ui5-avatar>
              Upload images (Max 5)
            </ui5-file-uploader>
          </div>
          <div
            *ngIf="selectedFiles.length === 0"
            class="text-danger small mt-1"
          >
            Please upload at least one image
          </div>
          <div class="preview-container mt-2">
            <div *ngFor="let file of selectedFilesUrl" class="image-preview">
              <img [src]="file.url" alt="Selected Image" />
              <ui5-button
                design="Negative"
                (click)="removeImage(file.name)"
                icon="delete"
              ></ui5-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <ui5-toolbar slot="footer">
    <ui5-toolbar-button
      design="Emphasized"
      [disabled]="loading"
      (click)="insertData()"
      text="Submit"
    >
    </ui5-toolbar-button>

    <ui5-toolbar-button
      design="Transparent"
      text="Cancel"
      (click)="closeDialog()"
    ></ui5-toolbar-button>
  </ui5-toolbar>
</ui5-dialog>
<app-toast-message
  [IsOpenToastAlert]="IsOpenToastAlert"
  [ToastType]="ToastType"
></app-toast-message>
