<div class="tool-layout">
  <ui5-side-navigation #sidenav [collapsed]="collapsed">
    <ui5-side-navigation-item
      text="Home"
      icon="home"
      routerLink="/home"
    ></ui5-side-navigation-item>
    <ui5-side-navigation-item
      text="Our Services"
      icon="settings"
      routerLink="/service-list"
    ></ui5-side-navigation-item>
    <ui5-side-navigation-item
      text="Our Projects"
      routerLink="/projects"
      icon="address-book"
    ></ui5-side-navigation-item>
    <ui5-side-navigation-item
      text="FAQ List"
      icon="question-mark"
      routerLink="/faq-list"
    ></ui5-side-navigation-item>
    <ui5-side-navigation-item text="Jobs" expanded icon="work-history">
      <ui5-side-navigation-sub-item
        text="Job Applications"
        routerLink="/job-applications"
      ></ui5-side-navigation-sub-item>
      <ui5-side-navigation-sub-item
        text="Selected Applications"
        routerLink="/selected-applicants"
      ></ui5-side-navigation-sub-item>
      <ui5-side-navigation-sub-item
        text="Job Vacancy Post"
        routerLink="/job-list"
      ></ui5-side-navigation-sub-item>
    </ui5-side-navigation-item>
    <ui5-side-navigation-item text="Customer Queries" expanded icon="form">
      <ui5-side-navigation-sub-item
        text="Project Requests"
        routerLink="/common-form"
      ></ui5-side-navigation-sub-item>
      <ui5-side-navigation-sub-item
        text="Contact Us"
        routerLink="/contact-us-form"
      ></ui5-side-navigation-sub-item>
    </ui5-side-navigation-item>
    <ui5-side-navigation-item
      text="Informations"
      routerLink="/info-footer"
      icon="address-book"
    ></ui5-side-navigation-item>
    <ui5-side-navigation-item
      text="User Management"
      slot="fixedItems"
      icon="key-user-settings"
    >
      <ui5-side-navigation-sub-item
        text="User Management list"
        routerLink="/user-managment"
        icon="key-user-settings"
      ></ui5-side-navigation-sub-item>
      <ui5-side-navigation-sub-item
        text="Role Permission"
        routerLink="/rolelist"
        icon="key-user-settings"
      ></ui5-side-navigation-sub-item>
    </ui5-side-navigation-item>
  </ui5-side-navigation>
  <div class="content"></div>
</div>
