<div class="tool-layout">
  <ui5-side-navigation #sidenav [collapsed]="collapsed">
    <ui5-side-navigation-item
      text="Home"
      icon="home"
      routerLink="/home"
    ></ui5-side-navigation-item>
    <ui5-side-navigation-item
      text="Service Page"
      icon="settings"
      routerLink="/service-list"
    ></ui5-side-navigation-item>
    <ui5-side-navigation-item
      text="FAQ List"
      icon="question-mark"
      routerLink="/faq-list"
    ></ui5-side-navigation-item>
    <ui5-side-navigation-item text="Jobs" expanded icon="work-history">
      <ui5-side-navigation-sub-item
        text="Job Applications"
        routerLink="/job-applications"
      ></ui5-side-navigation-sub-item>
      <ui5-side-navigation-sub-item
        text="Post Job"
        routerLink="/job-list"
      ></ui5-side-navigation-sub-item>
    </ui5-side-navigation-item>
    <ui5-side-navigation-item text="Form Submission" expanded icon="form">
      <ui5-side-navigation-sub-item
        text="Form Data"
        routerLink="/common-form"
      ></ui5-side-navigation-sub-item>
      <ui5-side-navigation-sub-item
        text="Contact Us Form Data"
        routerLink="/contact-us-form"
      ></ui5-side-navigation-sub-item>
    </ui5-side-navigation-item>
    <ui5-side-navigation-item
    text="Info Footer"
    routerLink="/info-footer"
    icon="address-book"
  ></ui5-side-navigation-item>
      <ui5-side-navigation-item
      text="User Management"
      slot="fixedItems"
      routerLink="/user-managment"
      icon="key-user-settings"
    ></ui5-side-navigation-item>
  </ui5-side-navigation>
  <div class="content"></div>
</div>

