<react-analytical-table
  [headerTitle]="Title"
  [insertTitle]="'Add'"
  [apiUrl]="'Users?'"
  [isSearchFilter]="true"
  [isFilterable]="true"
  [isOdata]="true"
  [isGroupable]="false"
  [isSortable]="true"
  [isTableTree]="false"
  [isInfiniteScroll]="true"
  [infiniteScrollNumber]="10"
  [minRowsNumber]="15"
  [headerHeight]="30"
  [rowHeight]="30"
  [model]="Users"
  [selectionMode]="'Single'"
  [emptyDataText]="'No Data Found'"
  [tableColumn]="tableColum()"
  [refreshTrigger]="refreshTable"
  [showStatusFilter]="false"
  [isSegmentedState]="false"
  (isInsertDataChange)="handleInsertData($event)"
  (rowDoubleClick)="editFaq($event)"
></react-analytical-table>
<app-roleadd [isOpen]="isInsert" (close)="closeAddFaqModal()"></app-roleadd>

<ui5-dialog [open]="isDeleteOpen" header-text="Warning" state="Critical">
  <p *ngIf="!isDeleteLoading">Are you sure you want to remove this user?</p>
  <div *ngIf="isDeleteLoading">
    <p>Removing please wait ...</p>
  </div>

  <div
    slot="footer"
    style="
      display: flex;
      align-items: center;
      justify-content: end;
      width: 100%;
      box-sizing: border-box;
    "
  >
    <ui5-button
      (click)="deleteItemConfirm()"
      design="Emphasized"
      style="min-width: 4rem"
      [disabled]="isDeleteLoading"
    >
      Remove
    </ui5-button>
    <ui5-button
      (click)="isDeleteOpen = false"
      style="margin: 0 0 0 0.5rem; min-width: 4rem"
      [disabled]="isDeleteLoading"
    >
      Close
    </ui5-button>
  </div>
</ui5-dialog>

<app-toast-message
  [IsOpenToastAlert]="IsOpenToastAlert"
  [ToastType]="ToastType"
></app-toast-message>
