<react-analytical-table
  [headerTitle]="Title"
  [insertTitle]="'Add'"
  [apiUrl]="'roles?'"
  [isSearchFilter]="true"
  [isFilterable]="true"
  [isOdata]="false"
  [isGroupable]="false"
  [isSortable]="true"
  [isTableTree]="false"
  [isInfiniteScroll]="true"
  [infiniteScrollNumber]="10"
  [minRowsNumber]="15"
  [headerHeight]="30"
  [rowHeight]="30"
  [model]="roles"
  [selectionMode]="'Single'"
  [emptyDataText]="'No Data Found'"
  [tableColumn]="tableColum()"
  [refreshTrigger]="refreshTable"
  [showStatusFilter]="false"
  [isSegmentedState]="false"
  (isInsertDataChange)="handleInsertData($event)"
  (rowClick)="handleRowClick($event)"
>
</react-analytical-table>

<ui5-dialog class="role-permissions-dialog" [open]="isPermissionDetailsOpen">
  <div class="Role-Header" slot="header">Role Permission :- <span style="color: #0a6ed1">{{ rolename }}</span></div>

  <div class="dialog-header">
    <ui5-button design="Emphasized" icon="settings" (click)="openUserPermissions({ id: selectedRoleId, name: selectedRoleName })">
      Manage Permissions
    </ui5-button>
  </div>
  <div>
    <p class="text-muted" *ngIf="selectedRolePermissions.length === 0">
      No Permissions Found for this Role.
    </p>

    <div *ngIf="selectedRolePermissions.length > 0">
      <table class="table table-bordered">
        <thead class="table-header">
          <tr>
            <th>#</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let permission of selectedRolePermissions; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ permission.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div style="display: flex; justify-content: flex-end">
    <ui5-button (click)="closePermissionDetailsModal()">Close</ui5-button>
  </div>
</ui5-dialog>

<app-roleadd [isOpen]="isInsert" (close)="closeAddModal()"></app-roleadd>
<app-roleedit
  [isOpen]="isEdit"
  [RoleId]="selectedRoleId"
  [RoleData]="selectedRoleData"
  (close)="closeEditModal()"
  (refreshTable)="refreshTable.emit()"
></app-roleedit>
<app-roledetails
  [isOpen]="isDetails"
  [RoleId]="selectedRoleId"
  [RoleData]="selectedRoleData"
  (close)="closeDetailsModal()"
></app-roledetails>
<app-toast-message
  [IsOpenToastAlert]="IsOpenToastAlert"
  [ToastType]="ToastType"
></app-toast-message>

<app-userpermission
  [isOpen]="isUserPermissionOpen"
  [selectedRoleId]="currentRoleIdForPermissions"
  [selectedRoleName]="currentRoleNameForPermissions"
  (close)="closeUserPermissionModal()"
  (permissionsUpdated)="refreshTable.emit()"
></app-userpermission>

<ui5-dialog [open]="isDeleteOpen" header-text="Warning" state="Critical">
  <p *ngIf="!isDeleteLoading">Are you sure you want to delete this data?</p>
  <div *ngF="isDeleteLoading">
    <p>Deleting please wait ...</p>
  </div>

  <div
    slot="footer"
    style="
      display: flex;
      align-items: center;
      justify-content: end;
      width: 100%;
      box-sizing: border-box;
    "
  >
    <ui5-button
      (click)="deleteRoleConfirm()"
      design="Emphasized"
      style="min-width: 4rem"
      [disabled]="isDeleteLoading"
    >
      Delete
    </ui5-button>
    <ui5-button
      (click)="isDeleteOpen = false"
      style="margin: 0 0 0 0.5rem; min-width: 4rem"
      [disabled]="isDeleteLoading"
    >
      Close
    </ui5-button>
  </div>
</ui5-dialog>