.role-permissions-dialog {
  width: 1000px;
    max-width: 100%;
}
.permission-add-dialog{
    width: 500px;
    height: 800px;
}
/* style="display: flex; justify-content: flex-end" */
.dialog-header {
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-end;
   
}
.text-muted{
    text-align: center;
    color: #666;
}
.table-bordered{
width: 100%; 
border-collapse: collapse;
}
.table-header{
    background-color: #f2f2f2
}
.actions{
    text-align: center
}
.permission-list{
    padding: 1rem;
    max-height: 400px;
    overflow-y: auto;
}