<section class="common-bg">
  <div class="container">
    <div class="row m-auto">
      <div class="col-md-6 text-white">
        <div class="info-title">
          <h1 class="title-font">Let’s Build the Future Together!</h1>
          <p>
            Have a project in mind? Contact us today to schedule a free
            consultation! We’re excited to bring your ideas to life.
          </p>
        </div>
      </div>
      <div class="col-md-6 text-white form-style" id="form-part">
        <div>
          <h6>Full Name</h6>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="name"
            name="name"
            placeholder="Carl Henderson"
          />

          <hr class="form-hr" />
        </div>
        <div class="form-mid">
          <div>
            <h6>Project Name</h6>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="projectName"
              name="projectName"
              placeholder="Software"
            />

            <hr class="form-hr" />
          </div>
          <div>
            <h6>Email</h6>
            <input
              type="email"
              class="form-control"
              [(ngModel)]="email"
              name="email"
              placeholder="You@example.com"
            />

            <hr class="form-hr" />
          </div>
        </div>

        <!-- Project Type & Project Budget -->
        <div class="form-mid">
          <div>
            <h6>Project Type</h6>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="projectType"
              name="projectType"
              placeholder="Write here"
            />
            <hr class="form-hr" />
          </div>
          <div>
            <h6>Project Budget</h6>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="projectBudget"
              name="projectBudget"
              placeholder="Write here"
            />
            <hr class="form-hr" />
          </div>
        </div>
        <div>
          <h6>Project Detail</h6>
          <textarea
            class="form-control"
            [(ngModel)]="projectDescription"
            name="projectDescription"
            placeholder="Tell us more about your idea"
          ></textarea>
          <hr class="form-hr" />
        </div>

        <div class="btn-submit">
          <a (click)="insertFormData()" class="btn-common">Send Message</a>
        </div>
      </div>
    </div>
  </div>
</section>
