<div class="pricing-area style-two">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg">
        <div class="section-title left style-two">
          <h1 class="faq-title my-5">Frequently Asked Questions</h1>
        </div>
        <div *ngIf="faq.length > 0">
          <div
            *ngFor="let faq of faq; let i = index"
            class="faq-singular"
            [ngClass]="{ active: i === activeIndex }"
          >
            <h2 class="faq-question letter-space" (click)="toggleFaq(i)">
              {{ faq.question }}
            </h2>
            <div class="faq-answer" *ngIf="i === activeIndex">
              <div class="desc">
                {{ faq.answer }}
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="faq.length === 0">
          <p>Loading FAQs...</p>
        </div>
      </div>
    </div>
  </div>
</div>
