<footer class="footer">
  <div class="container-fluid">
    <div class="row d-flex">
      <div class="col-md-6 footer-text justify-content-start">
        <h4>Ⓒ 2024 Hybritech Innovations, Inc. All rights reserved</h4>
      </div>
      <div class="col-md-6 d-flex justify-content-end footer-logo">
        <div class="ms-3" *ngFor="let item of footer; let i = index">
          <h1>
            <a
              href="{{ item.link }}"
              [innerHTML]="item.icon"
              *ngIf="item.link"
            ></a>
          </h1>
        </div>
      </div>
    </div>
  </div>
</footer>
