<react-analytical-table
  [headerTitle]="'Our Projects'"
  [insertTitle]="'Add'"
  [apiUrl]="'projects'"
  [isSearchFilter]="true"
  [isFilterable]="true"
  [isOdata]="false"
  [isGroupable]="false"
  [isSortable]="true"
  [isTableTree]="false"
  [model]="Projects"
  [isInfiniteScroll]="true"
  [infiniteScrollNumber]="10"
  [minRowsNumber]="10"
  [headerHeight]="30"
  [rowHeight]="90"
  [selectionMode]="'Single'"
  [emptyDataText]="'No Data Found'"
  [tableColumn]="tableColum()"
  [refreshTrigger]="refreshTable"
  [showStatusFilter]="true"
  [isSegmentedState]="true"
  (isInsertDataChange)="handleInsertData($event)"
  (rowDoubleClick)="editProject($event)"
></react-analytical-table>