.banner {
  min-height: var(--height);
  background-image: url(../../assets/img/Frame\ 43.png);
  background-color: #000 !important;
}

/* .banner-overlay {
  background: radial-gradient(29.22% 167.9% at 76.69% 62.63%, #24494b81 0%, #0000009a 100%);;
  position: absolute;
  width: 100%;
  height: var(--height);
} */

.banner-items {
  padding-top: 20vh;
}
.service-text h1 {
  font-size: var(--font-size-large);
  font-family: var(--header-font);
}
.service-text p {
  font-size: var(--font-size-midium);
  font-family: var(--description-font);
}
.banner-title {
  font-size: var(--font-size-large);
}
.mid-img {
  width: 80%;
  height: 80%;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.img-fluid img {
  vertical-align: middle;
}
.style-two.service-area {
  background: var(--background-dark);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 50px 0 50px;
}
.style-two.service-area h1 {
  color: var(--text-color) !important;
}
.style-two.service-area h4 {
  color: var(--text-color);
}
.style-two.service-area .section-title h1 {
  color: #fff;
}
.style-two .single-services-box h4 {
  color: var(--text-color) !important;
}
.style-two .single-services-box p {
  color: var(--text-color) !important;
}

.style-two .single-services-box:hover p {
  color: var(--card-hover-text-color) !important;
}

.style-two .single-services-box:hover h4 {
  color: var(--card-hover-text-color) !important;
}
.style-two .single-services-box {
  padding: 37px 0 30px 40px;
  background-color: var(--card-color);
  position: relative;
  z-index: 1;
  margin-bottom: 25px;
  border-radius: 5px;
  height: 400px;
  border: 1px solid #1a1a1a71 !important;
}

.style-two .single-services-box:before {
  position: absolute;
  content: "";
  left: 50%;
  top: 0;
  width: 0;
  height: 100%;
  background: var(--card-hover-color);
  transition: 0.5s;
  z-index: -1;
  border-radius: 5px;
}

.style-two .single-services-box:hover:before {
  left: 0;
  width: 100%;
}
.service-content h4,
p {
  text-wrap: initial;
}
.service-content h4 {
  font-family: var(--header-font);
  font-weight: 800;
  font-size: 28px;
}
.service-content p {
  font-family: var(--description-font);
}
.title-font {
  font-size: 50px;
  font-family: "Rajdhani";
  width: 90%;
  font-weight: 700;
}
.style-two .service-number h1 {
  background: #e6eefb;
  position: absolute;
  right: 0;
  top: 33px;
  transition: 0.5s;
  font-size: 26px;
  line-height: 50px;
  color: var(--brand-color-one);
  font-weight: 600;
  font-family: "Rajdhani";
  padding: 0 14px 0 28px;
  border-radius: 30px 0 0 30px;
  margin: 0;
}
.service-icon {
  width: 80px !important;
  height: 80px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.style-two .service-content p {
  padding-right: 35px;
  transition: 0.5s;
  color: #686868;
}

@media screen and (max-width: 768px) {
  /* .banner {
    min-height: 35vh;
  }

  .banner-overlay {
    height: 35vh;
  } */

  .banner-items {
    padding-top: 6vh;
  }

  .banner-title {
    font-size: max(6vw, 1.2rem);
  }
  .mid-img {
    width: 100%;
    height: 100%;
    padding-bottom: 2vh;
  }
  .service-text h1 {
    font-size: var(--font-size-midium);
  }
}
@media screen and (min-width: 769px) and (max-width: 1260px) {
}
